.project-heading{
    text-align: center;
    padding: 4rem 0 2rem 0;
}

.project-container{
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    padding-bottom: 5rem;
}

.project-card{
    background: #1a1919;
    padding: 1.2rem 1rem;
}

.project-card img{
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

.project-title{
    color: #fff;
    padding: 1rem 0;
    height: 100px;
}

.pro-details p{
    padding-bottom: 1rem;
    font-size: 1.1rem;
    text-align: justify; /* Metin sayfanın tamamı boyunca dağılır. Metnin her iki kenarında da eşit boşluklar olur. */
    display: flex;
    flex-wrap: wrap;
    height: 250px;
    overflow: scroll;
}

.pro-details p::-webkit-scrollbar{
    display: none; /* kaydırma çubuklarını gizledik */
}

.pro-btns{
    display: flex;
    justify-content: space-between; /* Öğelerin 
     arasındaki boşlukları eşit olarak dağıtır.*/
    padding: 0.5rem 0;
}

.pro-btns .btn{
    padding: 0.5rem 1rem;
}

@media screen and (max-width: 740px) {
    .project-container{
        max-width: 90%;
        margin: auto;
        grid-template-columns: 1fr;
    }
}